<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Helloworld</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>

<body>
    <div id="root">
        姓
        <input type="text" v-model="firstName" /> 名
        <input type="text" v-model="lastName" />
        <p>{{fullName}}</p>
        <p>{{count}}</p>
    </div>

    <script type=text/javascript>
        new Vue({
            el: '#root',
            data: {
                firstName:'',
                lastName:'',
                count: 0
            },
            computed:{
                fullName:function(){
                    return fullName=this.firstName+' '+this.lastName;
                }
            },
            watch : {
                fullName:function(){
                     this.count++;
               }
            }
        })
    </script>
</body>